/* roboto-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* fredoka-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fredoka-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* hind-madurai-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fredoka-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* hind-madurai-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/hind-madurai-v11-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* hind-madurai-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hind-madurai-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    overflow: hidden;
  }
body{
    background: #F2CEDA;
}
/* HEADER STYLES START */
.container {
    width: 1125px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 37px;
}
.header-logo-link {
    display: inline-block;
}
.header-logo-link:hover{
    opacity: 80%;
  }
  .header-logo-link:active{
    opacity: 60%;
  }
  .navbar {
    width: 445px;
}
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.navbar-list__item__navbar-link:hover{
    color: #D23166;
}
.navbar-list__item__navbar-link:active{
    color: grey;
}
.navbar-list__item__navbar-link {
    height: 16px;
    color: #150101;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6s;
}
.header-link {
    width: 165px;
    height: 49px;
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Hind Madurai" ;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background: #D23166;
}
.header-link:hover{
    width: 165px;
    height: 49px;
    border: 2px solid #D23166;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s all;
    
    color: #D23166;
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-link:active{
    width: 165px;
    height: 49px;
    border: 2px solid #fff;
    background-color: rgb(135, 210, 135);
    border-radius: 5px;
    transition: 0.1s all;


    color: #FAFAFA;
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* HEADER STYLES END */

/* HERO STYLES START */
.hero-section {
    width: 100%;
}
.hero-section{
    background-image: url(/images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 894px 742px;
    background-position-x: right;
}
.hero {
    display: flex;
    padding-top: 159px;
    padding-bottom: 213px;
}
.hero-content {
    width: 665px;
    height: 364px;
    top: 285px;
    left: 254px;
    border-radius: 5px;
}
.hero-content__upper {
    width: 174px;
    height: 16px;
    top: 285px;
    left: 254px;
    color: #0F0101;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.4px;
}
.hero-content__title {
    color: #0F0101;
    font-family: "Fredoka", sans-serif;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%; /* 69.083px */
    margin: 0 auto;
}
.pink{
    opacity: 0.9;
    color: #D23166;
    font-family: "Fredoka", sans-serif;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%;
}
.hero-content__down {
    margin-top: 35px;
    width: 523px;
    height: 78px;
    flex-shrink: 0;
    color: #0F0101;
    font-family: 'Hind Madurai';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    opacity: 0.6;
}
.hero-content__link {
    width: 165px;
    height: 49px;
    margin-top: 50px;
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Hind Madurai" ;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background: #D23166;
}
.hero-content__link:hover{
    width: 165px;
    height: 49px;
    border: 2px solid #D23166;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s all;
    
    color: #D23166;
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero-content__link:active{
    width: 165px;
    height: 49px;
    border: 2px solid #fff;
    background-color: rgb(135, 210, 135);
    border-radius: 5px;
    transition: 0.1s all;


    color: #FAFAFA;
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* HERO STYLES END */

/* SERVICES STYLES START */
.services-section {
    position: relative;
    background-color: #fff;
    padding: 100px 0;
}
.services {
    width: 1117px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services__item1 {
    position: relative;
    width: 250px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 0px;
    padding: 120px 24px 24px 24px;
}
.services__item1::before{
    content: "";
    width: 51.002px;
    height: 43.35px;
    flex-shrink: 0;
    position: absolute;
    background-image: url("../images/car.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 31px;
    right: 150px;
    left: 95px;
}
.services__item1:hover{
    border-radius: 7px;
    background: #FFF;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.10);
}
.services__item2 {
    position: relative;
    width: 250px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 0px;
    padding: 120px 24px 24px 24px;
}
.services__item2::before{
    content: "";
    width: 32px;
    height: 42.006px;
    flex-shrink: 0;
    position: absolute;
    background-image: url("../images/lunch.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 31px;
    right: 150px;
    left: 110px;
}
.services__item2:hover{
    border-radius: 7px;
    background: #FFF;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.10);
}.services__item3 {
    position: relative;
    width: 250px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 0px;
    padding: 120px 24px 24px 24px;
}
.services__item3::before{
    content: "";
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    position: absolute;
    background-image: url("../images/cash-back.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 31px;
    right: 150px;
    left: 100px;
}
.services__item3:hover{
    border-radius: 7px;
    background: #FFF;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.10);
}
.services__item4 {
    position: relative;
    width: 250px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 0px;
    padding: 120px 24px 24px 24px;
}
.services__item4::before{
    content: "";
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    position: absolute;
    background-image: url("../images/fast-delivery.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 31px;
    right: 150px;
    left: 100px;
}
.services__item4:hover{
    border-radius: 7px;
    background: #FFF;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.10);
}
.services__item1__title {
    width: 122px;
    height: 28px;
    font-family: 'Hind Madurai';
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    margin-bottom: 9px;
}
.services__item2__title{
    width: 147px;
    height: 28px;
    color: #000;
    font-family: 'Hind Madurai';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    margin-bottom: 9px;
}
.services__item3__title{
    width: 161px;
    height: 28px;
    color: #000;
    font-family: 'Hind Madurai';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    margin-bottom: 9px;
}
.services__item4__title{
    width: 115px;
    height: 28px;
    color: #000;
    font-family: 'Hind Madurai';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    margin-bottom: 9px;
}
.services__item__text {
    width: 198px;
    height: 35px;
    top: 1100px;
    left: 278px;
    opacity: 0.6px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}
/* SERVICES STYLES END */

/* SUGAR STYLES START */
.sugar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 545px;
}
.sugar-content {
    width: 442px;
    height: 256.705px;
    flex-shrink: 0;
    border-radius: 5px;
}
.sugar-content__title {
    width: 349px;
    height: 98.27px;
    flex-shrink: 0;
    color: #150101;
    font-family: 'Hind Madurai';
    font-size: 44.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 110.5%; /* 48.841px */
}
.sugar-content__down {
    width: 444px;
    height: 58.16px;
    margin-top: 16px;
    flex-shrink: 0;
    color: #150101;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.sugar-content__link {
    width: 165px;
    height: 49px;
    margin-top: 50px;
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Hind Madurai" ;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background: #D23166;
}
.sugar-content__link:hover{
    width: 165px;
    height: 49px;
    border: 2px solid #D23166;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s all;
    
    color: #D23166;
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sugar-content__link:active{
    width: 165px;
    height: 49px;
    border: 2px solid #fff;
    background-color: rgb(135, 210, 135);
    border-radius: 5px;
    transition: 0.1s all;


    color: #FAFAFA;
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* }SUGAR STYLES END */

/* PRODUCT STYLES START */
.product-section {
    width: 100%;
    height: 2346px;
    flex-shrink: 0;
    background: #FFF;
}
.product-title {
    padding-top: 132px;
    color: #150101;
    font-family: 'Hind Madurai';
    font-size: 44.2px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 64px;
}
.navbar-product-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}
.navbar-product-list__item__navbar-link {
    color: #000;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
.navbar-product-list__item__navbar-link::before{

}
.navbar-product-list__item__navbar-link:hover{
    opacity: 1;
}
.product-parts{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.product-image {
    width: 580px;
    height: 415px;
    top: 2140px;
    left: 270px;
    border-radius: 10px;
}
.product {
    width: 454px;
    height: 234px;
    flex-shrink: 0;
}
.product-content__title {
    color: #000;
    font-family: 'Hind Madurai';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.product-content__down {
    width: 456px;
    height: 67px;
    margin-bottom: 28px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.7;
}
.price {
    width: 71px;
    height: 27px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Hind Madurai';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.price__before {
    width: 58px;
    height: 27px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Hind Madurai';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: strikethrough;
}
.product-content__link {
    width: 165px;
    height: 49px;
    margin-top: 50px;
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Hind Madurai" ;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background: #D23166;
}
.product-content__link:hover{
    width: 165px;
    height: 49px;
    border: 2px solid #D23166;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s all;
    
    color: #D23166;
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-content__link:active{
    width: 165px;
    height: 49px;
    border: 2px solid #fff;
    background-color: rgb(135, 210, 135);
    border-radius: 5px;
    transition: 0.1s all;


    color: #FAFAFA;
    font-family: 'Hind Madurai';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* PRODUCT STYLES END */